{% extends "base.html" %}
{% block title %}قائمة العقارات{% endblock %}
{% block content %}
    <h2 class="text-center mb-4">قائمة العقارات</h2>
<form method="get" class="mb-4 text-center">
    <input type="text" name="q" class="form-control d-inline-block w-50" placeholder="ابحث باسم العقار" value="{{ query }}">
    <button type="submit" class="btn btn-success">بحث</button>
</form>
    <div class="row">
        {% for p in properties %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if p.image.first %}
                <img src="{{ p.image.first.image.url }}" class="card-img-top" alt="صورة">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">{{ p.city }} - {{ p.type }}</p>
                    <p class="text-muted">الحالة: {{ p.status }}</p>
                    <a href="{% url 'property_detail' p.id %}" class="btn btn-outline-primary">عرض التفاصيل</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}