{% extends "properties/base.html" %}
{% block title %}قائمة العقارات{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
<h4>قائمة العقارات</h4>
    <a href="{% url 'properties:property_add' %}" class="btn btn-success">إضافة عقار</a>
</div>
<div class="row">
    {% for prop in properties %}
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            {% if prop.image %}
            <img src="{{ prop.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ prop.name }}</h5>
                <p class="card-text">{{ prop.city }} - {{ prop.governorate }}</p>
                <a href="{% url 'properties:property_detail' prop.pk %}" class="btn btn-outline-primary btn-sm">تفاصيل</a>
            </div>
        </div>
    </div>
    {% empty %}
        <p>لا توجد عقارات حالياً</p>
    {% endfor %}
</div>
{% endblock %}