{% extends "properties/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h4 class="mb-3">{{ title }}</h4>
    <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
        {% csrf_token %}
        <fieldset class="mb-4">
            <legend>بيانات الوحدة</legend>
            {{ form.as_p }}
        </fieldset>
        <fieldset class="mb-4">
            <legend>الصور</legend>
            {{ image_formset.management_form }}
            {% for form in image_formset %}
                {{ form.as_p }}
            {% endfor %}
        </fieldset>
        <fieldset class="mb-4">
            <legend>الميزات</legend>
            {{ feature_formset.management_form }}
            {% for form in feature_formset %}
                {{ form.as_p }}
            {% endfor %}
        </fieldset>
        <button type="submit" class="btn btn-primary">حفظ الوحدة</button>
    </form>
{% endblock %}